{% extends 'base.html.twig' %}

{% block title %}Ajouter d'une faction{% endblock %}

{% block body %}
    <h1>Ajouter d'une faction</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
